<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { transliterating2 } from '../transliterator/bataktrans'
import { transliterating3 } from '../transliterator/transbatak'

let textRight = ref('ᯘᯪᯀᯬᯞᯬᯀᯉ᯲')
let textLeft = ref('sioloan')
let langLeft = ref('Latin')
let langRight = ref('ᯘᯧᯒᯖ᯲ ᯅᯖᯂ᯲')
let rightalignRight = ref("")
let rightalignLeft = ref("")
let funcLatin = function(){
  // Latin Default
  textRight.value = transliterating2(textLeft.value)
}
let funcPegon = function(){
  // Pegon Default
  textRight.value = transliterating3(textLeft.value)
}
let usedFunc = funcLatin
let storedFunc = funcPegon

function onInput(e: Event){
  textLeft.value = (<HTMLInputElement>e.target).value;
  textRight.value = textLeft.value;
  usedFunc();
}
function swapText(){
  [langLeft.value, langRight.value] = [langRight.value, langLeft.value];
  [textLeft.value, textRight.value] = [textRight.value, textLeft.value];
  [usedFunc, storedFunc] = [storedFunc, usedFunc];
}
</script>

<template>
<!-- content goes here -->
<div class="py-3 text-center animate__animated animate__fadeIn flex flex-col">
  <div class="flex justify-center position-relative">
    <div class = "m-3 flex flex-col ">
      <div class = "translitname bg-[#2b7c9e]">
        <p id="latin" class = "text-[#ffffff] pl-3">{{langLeft}}</p>
      </div>
      <textarea :value="textLeft" @input="onInput" :class = "rightalignLeft" class = "translitbox">{{textLeft}}</textarea>
    </div>
    <!-- <div>
      <img @click="swapText" alt="Vue logo" class="my-10" src="@/assets/arrow.svg" width="32" height="32"/>
    </div> -->
    <div class = "m-3">
      <div class = "translitname bg-[#2b7c9e]">
        <p id="arab-pegon" class = "text-[#ffffff] pl-3">{{langRight}}</p>
      </div>
      <textarea class = "translitbox" :class="rightalignRight" disabled>{{textRight}}</textarea>
    </div>
  </div>
  <div class="mx-10 text-white border-t border-white text-left">
    <p id="explanation" style="color: white;">Fitur swap pada translasi surat batak belum selesai.</p>
    <p id="explanation" style="color: white;">Note : Jangan lupa untuk selalu menekan spasi setiap menyelesaikan satu kata.</p>
  </div>
</div>

</template>

<style>
.translitbox {
width: 30rem;
height: 20rem;

background: #2D2E2D;
border-radius: 15px;
@apply p-3 text-white
}
.translitname {
  width: 30rem;
  height: 3rem;
  background: #1A1A1A;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  @apply my-3 items-center flex
}
.uploadbutton{
  max-width: 10rem;
  height: 2rem;
  background: #2E694F;
  border-radius: 15px;
  @apply my-3
}
</style>


