<script setup lang="ts">
</script>

<template>
<!-- content goes here -->
<div class="py-32 text-center animate__animated animate__fadeIn">
  <div class = "flex justify-center">
    <h6 class="font-thin text-2xl text-emerald-300" width="256" height="256">Coming Soon</h6>
  </div>
</div>
</template>
