<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <!-- navbar goes here -->
<nav class="bg-[#2b7c9e] border-b border-neutral-300 drop-shadow-2xl">
  <div class="max-w-8xl mx-auto px-1">
    <div class="flex justify-between">

      <div class="flex space-x-4">
        <!-- logo -->
        <div class="py-2 justify-center">
          <div class="mx-1 mr-2 text-white border-r border-white text-left items-left items-center px-3">
            <p style="color: white;" id="baso">ⲃⲁⲥⲟ ⲛⲏ ⲃⲁ̀ⲛ̄ⲥⲟ ⲃⲁⲧⲁⳍ̄</p>
          </div>
        </div>
        <div class="flex items-left justify-center">
          
          <div class="flex items-center space-x-1 items-left">
            <RouterLink to="/" class="py-2 px-3 text-neutral-400 hover:text-white">Transliterator Koptik</RouterLink>
            <RouterLink to="/batakneo" class="py-2 px-3 text-neutral-400 hover:text-white">Transliterator Batak (Neo)</RouterLink>
            <RouterLink to="/cs" class="py-2 px-3 text-neutral-400 hover:text-white">Transliterator Batak (Archaic)</RouterLink>
            <RouterLink to="/cs" class="py-2 px-3 text-neutral-400 hover:text-white">Bibel Koptik</RouterLink>
          </div>
              
        </div>

        <!-- primary nav -->
      </div>
      <div class="flex items-center space-x-1">
        <RouterLink to="/" class="flex items-center border-l border-neutral-300 px-3 text-gray-700 hover:text-gray-900">
            <img alt="Vue logo" class="logo" src="@/assets/flag.svg" width="96" height="96" >
          </RouterLink>
      </div>


    </div>
  </div>
</nav>
</template>
